/*General*/
body{
    font-family: sans-serif;
}

/*Utils*/
[class^="col"] {
	height: 60px;
	background-color: #006cfa;
	color: white;
    border: 1px solid white;
	text-align: center;
	line-height: 60px;
}

.nested {
	background-color: #00e165;
	height: 40px;
	border-color: #006cfa;
    line-height: 40px;
}

.col-nested {
	display: flex;
	align-items: center;
	padding: 5px;
}
